*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-text-primary: #1c2a38;
    --color-text-secondary: #8A8F98;
    --color-text-alert: #d72641;
    --color-text-icon: #dbdade;
    --color-bg-primary: #fff;
    --color-bg-secondary: #f3f5f9;
    --color-bg-alert: #fdeaec;
    --color-theme-primary: #623ce6;
}

button,
input,
select,
textarea {
    font: inherit;
}

img {
    display: block;
}

strong {
    font-weight: 600;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    color: var(--color-text-primary);
    background-color: var( --color-bg-secondary);
}

.match {
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    min-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0 4px 4px 0 rgba(48, 48, 48, 0.1);
}

.match-header {
    display: flex;
    padding: 16px;
    border-bottom: 2px solid rgba(48, 48, 48, 0.1);
} 

.match-status {
    background-color: var(--color-bg-alert);
    color: var(--color-text-alert);
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 1;
    margin-right: auto;
    &::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: currentColor;
        border-radius: 50%;
        margin-right: 8px;
    }
}

.match-tournament {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.match-tournament img {
    width: 100px;
    display: flex;
    margin-right: 684px;
}


.match-content {
    display: flex;
    position: relative;
}

.column {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
}

.team-right, .team-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.team-logo {
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-bg-primary);
    box-shadow: 0 4px 4px 0 rgba(48, 48, 48, 0.15), 0 0 0 15px var(--color-bg-secondary);
}


.team-name {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
}

.match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-date, .match-referee {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-secondary);
}

.match-date, .match-referee strong{
    color: var(--color-text-primary);
}

.match-score {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.match-score-number {
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
}

.match-score-number-divider {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.match-time-lapsed {
    color: #DF9443;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}

.match-referee {
    margin-top: 20px;
    font-weight: 600;
}

.match-options {
    margin-top: 8px;
    padding-bottom: 12px;
}

.option-left {
    border: 3px solid #333;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
    margin-right: -5px;
    margin-top: 5px;

}

.option-right {
    border: 3px solid #ff0000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
    margin-left: -5px;
    margin-top: 5px;

}

.draw {
    border: 3px solid #A9A9A9;
    padding: 10px 10px;
    border-left: none;
    border-right: none;
    margin-top: 5px;
}



